body {
  margin: 0;
  font-family: "Inter", sans-serif;
  /*background-color: #f0f2f5;*/
}

.login-card {
  width: 900px;
  height: 500px;
  border-radius: 25px;
}

.left-section {
  width: 45%;
  background: linear-gradient(to bottom right, #3454b4, #596ad9);
}

.logo {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
  padding: 10px;
}

.right-section {
  width: 55%;
}

.btn-login {
  height: 45px;
  background-color: #3454b4;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  color: white;
  width: 100%;
  transition: background-color 0.2s ease;
}

.btn-login:hover {
  background-color: #ffffff;
  color: #3454b4;
  border: 2px solid #3454b4;
}
