.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-wrapper {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
}

.frame .overlap {
  position: relative;
  height: 1080px;
}

.frame .group {
  position: absolute;
  width: 901px;
  height: 1080px;
  top: 0;
  left: 0;
}

.frame .overlap-group-wrapper {
  position: absolute;
  width: 1397px;
  height: 776px;
  top: 159px;
  left: 271px;
}

.frame .overlap-group {
  position: relative;
  height: 776px;
}

.frame .rectangle {
  position: absolute;
  width: 947px;
  height: 776px;
  top: 0;
  left: 450px;
  background-color: #ffffff;
  border-radius: 40px;
}

.frame .div {
  position: absolute;
  width: 632px;
  height: 776px;
  top: 0;
  left: 0;
  border-radius: 40px;
  background: linear-gradient(
    215deg,
    rgba(52, 84, 180, 1) 22%,
    rgba(89, 106, 217, 1) 60%,
    rgba(128, 128, 255, 1) 100%
  );
}

.frame .rectangle-2 {
  position: absolute;
  width: 112px;
  height: 776px;
  top: 0;
  left: 562px;
  background-color: #ffffff;
}

.frame .rectangle-3 {
  position: absolute;
  width: 592px;
  height: 95px;
  top: 650px;
  left: 971px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 2px solid;
  border-color: #9c9c9c;
}

.frame .rectangle-4 {
  position: absolute;
  width: 592px;
  height: 95px;
  top: 500px;
  left: 971px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 2px solid;
  border-color: #9c9c9c;
}

.frame .text-wrapper {
  position: absolute;
  top: 530px;
  left: 1005px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #686868;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-2 {
  position: absolute;
  left: 1188px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #5c5c5c;
  font-size: 55.9px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 755px;
  left: 1356px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #4169e1;
  font-size: 24.2px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .sign-in-button {
  position: absolute;
  top: 800px;
  left: 1081px;
  width: 323px;
  height: 85px;
  background-color: #418dff;
  border-radius: 25px;
  border: 1px solid #9c9c9c;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  line-height: 85px; /* vertically centers text */
  padding: 0;
  background-clip: padding-box;
}



.frame .logo {
  position: absolute;
  width: 298px;
  height: 297px;
  top: 399px;
  left: 397px;
  object-fit: cover;
}

.frame .invisible {
  position: absolute;
  width: 45px;
  height: 79px;
  top: 660px;
  left: 1500px;
}
.frame .invisible2 {
  position: absolute;
  width: 45px;
  height: 79px;
  top: 510px;
  left: 1500px;
}

.frame .text-wrapper-5 {
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #686868;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.frame .security-lock{
  position: absolute;
  width: 297px;
  height: 261px;
  top: 176px;
  left: 1098px;
}

.otpbox1 {
  position: absolute;
  width: 83px;
  height: 101px;
  top: 603px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border: color #404040;;
}

.frame .enter-OTP-sent-to{
  position: absolute;
  top: 444px;
  left: 1098px;
  font-family: "inter-medium", helvetica;
  font-weight: 500;
  color: #474747;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}
.frame .otp-info {
  position: absolute;
  top: 711px;
  left: 940px;
  display: flex;
  gap: 10px; 
  align-items: center;
}

.frame .resend,
.frame .timer {
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 500;
  color: #474747;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
}
.frame .timer{
  color: #5686e1;
}

.frame .otp-buttons {
  position: absolute;
  top: 800px; 
  left: 990px; 
  display: flex;
  gap: 40px; 
  align-items: center;
}

.frame .button {
  width: 250px;
  height: 90px;              
  background-color: #418dff;
  color: #ffffff;
  border-radius: 20px;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 90px;        
  cursor: pointer;
  white-space: nowrap;
}

.frame .text-wrapper-5 {
  position: absolute;
  top: 627px;
  left: 1005px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #686868;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .reset-buttons {
  position: absolute;
  top: 800px; 
  left: 1200px; 
  display: flex;
  gap: 40px; 
  align-items: center;
}

.frame .btnreset {
  width: 159px;
  height: 73px;
  background-color: #418dff;
  color: #ffffff;
  border-radius: 20px;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;
}
.frame .btnreset.btn-cancel {
  background-color: #a9a9a9; 
}