<!-- Sidebar -->
<div id="sidebar" class="sidebar p-3" style="width: 250px">
  <div class="sidebar-header">
    <h4 class="sidebar-brand">OLGP <span class="thin-text">Servers</span></h4>
    <h5 class="sidebar-brand-short">OLGP</h5>
  </div>
  <div class="sidebar-user">
    <img
      src="../../../img/sidebar-icons/PhotoAccount.png"
      alt="User Icon"
      class="user-icon"
    />
    <div class="user-details">
      <span class="username">John Doe</span>
      <span class="user-role">Altar Server Scheduler</span>
    </div>
  </div>
  <br />
  <ul class="nav flex-column">
    <!-- MAIN section -->
    <li class="nav-section">MAIN</li>
    <li class="nav-item">
      <a href="#" class="nav-link active">
        <img src="../../../img/sidebar-icons/Dashboard.png" class="icon" />
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="../../../img/sidebar-icons/Schedule.png" class="icon" />
        <span>Schedule</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="../../../img/sidebar-icons/Notification.png" class="icon" />
        <span>Notifications</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="../../../img/sidebar-icons/Department.png" class="icon" />
        <span>Department</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="../../../img/sidebar-icons/DeptSettings.png" class="icon" />
        <span>Department Settings</span>
      </a>
    </li>
    <br />
    <!-- SETTINGS section -->
    <li class="nav-section nav-section-full">SETTINGS</li>
    <hr class="nav-divider nav-divider-collapsed" />

    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="../../../img/sidebar-icons/Account.png" class="icon" />
        <span>Account</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="../../../img/sidebar-icons/Logout.png" class="icon" />
        <span>Logout</span>
      </a>
    </li>
  </ul>
</div>
